# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environments
venv/
.venv/
env/

# Environment Variables / Secrets
.env

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log   